<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Code Contas</title>
    <style type="text/css">
        .pago {
            color: green;
        }
        .nao-pago {
            color: red;
        }
        .backg-col {
            background-color: #CCCCCC;
        }
        .statusVerde {
            color: green;
        }
        .statusVermelho {
            color: red;
        }
        .statusCinza {
            color: #CCCCCC;
        }
    </style>
</head>
<body id="app">
    <h1>{{ title }}</h1>
    <h3 :class="{'statusCinza':status === false, 'statusVerde':status === 0, 'statusVermelho':status > 0}">{{ status | situacaoContasText }}</h3>

    <nav>
        <ul >
            <li v-for="o in menus">
                <!--<a href="javascript:void(0)" v-on:click="showView($event, o.id)">{{ o.name }}</a>-->
                <!--<a href="javascript:void(0)" v-on:click.prevent="showView($event, o.id)">{{ o.name }}</a>-->
                <a href="javascript:void(0)" @click.prevent="showView($event, o.id)">{{ o.name }}</a>
            </li>
        </ul>
    </nav>

    <div v-if="activedView == 0">
        <table border="1" cellpadding="10">
        <thead>
            <tr>
                <th>#</th>
                <th>Vencimento</th>
                <th>Nome</th>
                <th>Valor</th>
                <th>Paga?</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(index,o) in bills"> <!-- primeiro exemplo = o in bills" -->
                <td>{{ index + 1 }}</td>
                <td>{{ o.date_due }}</td>
                <td>{{ o.name }}</td>
                <td>{{ o.value | currency 'R$ ' }}</td>
                <td class="backg-col" :class="{'pago': o.done, 'nao-pago': !o.done}">
                    <input type="checkbox" v-model="o.done" /> {{ o.done | doneLabel }}
                </td>
                <td>
                    <a href="#" @click.prevent="loadBill(o)">Editar</a> | <a href="#"  @click.prevent="deleteBill(o)">Excluir</a>
                </td>
            </tr>
        </tbody>
        </table>
    </div>

    <div v-if="activedView == 1">
        <!--<form name="form">-->
        <form name="form" @submit.prevent="submit">
             <label>Vencimento:</label>
            <input type="text" v-model="bill.date_due" />
            <br><br>
            <label>Nome:</label>
            <select v-model="bill.name">
                <!--<option v-for="o in names" value="{{ o }}">{{ o }}</option>-->
                <!--<option v-for="o in names" v-bind:value="o">{{ o }}</option>-->
                <option v-for="o in names" :value="o">{{ o }}</option> <!-- property binding -->
            </select>    
            <br><br>
            <label>Valor:</label>
            <input type="text" v-model="bill.value" />
            <br><br>
            <!--<input type="button" @click="submit" value="Enviar" />-->
            <input type="submit" value="Enviar" />
            <!--Teste: <input type="text" v-model="teste"/>
            <br>
            {{ teste }} -->
        </form>
    </div>
    
<script type="text/javascript" src="node_modules/vue/dist/vue.min.js"></script> 
<script type="text/javascript" src="app.js"></script>   
</body>
</html>